@model Product

<h2>Добавить товар</h2>

<form asp-action="Create" method="post">

    <div class="mb-3">
        <label>Название</label>

        <input asp-for="Name"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Цена</label>

        <input asp-for="Price"
               class="form-control" />
    </div>

    <button type="submit"
            class="btn btn-primary">
        Сохранить
    </button>

</form>